/* General styles */

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
}

#skills, #portfolio, #contact {
	background-color: #F5F5F5;
}

.parallax {
	background-image: url(../img/wall-776290_1920.jpg);
	min-height: 200px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Section Nav Menu */

#main-nav {
	background-color: transparent;
	border: 0;
}

#main-nav a {
	color: #1D1D21;	
	font-size: 30px;
	text-transform: lowercase;
	transition: all .3s;
	top: 25px;
}

#main-nav a:hover {
	height: 40px;
	cursor: n-resize;
	opacity: 0.7;	
}

.container-fluid {
	height: 100px;
	background-color: rgba(224, 224, 224, 0.6);
}

#main-nav.scroll {
	background-color: rgba(178, 139, 152, 0.4);	
}

#main-nav.scroll a {
	color: #1D1D21;
}

#main-nav.scroll a:hover {
	color: #777777;
}


/* Section Header */

#main-header {
	background-image: url(../img/abstract-1845397_1920.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	height: 100vh;
}

#main-header .header-caption {
	text-align: center;
	color: #1D1D21;
	top: 50vh;
	position: absolute;
	margin-left: 50%;
}

#main-header .header-caption h1 {
	font-size: 130px;
	//font-family: 'Amatic SC', cursive;
	//font-family: 'Lacquer', sans-serif;
	font-family: 'Cedarville Cursive', cursive;
	margin-top: 0px;
}

#main-header .header-caption h2 {
	font-size: 2em;
}


/* Section About */

#about {
	background-color: #F5F5F5;
}

#about .about {
	padding: 25px;
	text-transform: lowercase;
}

#about .about-caption {
	text-transform: uppercase;
	font-weigth: bold;
}

#about .intro {
	line-height: 1.8;
}

#about .intro span {
	text-transform: uppercase;
	font-weight: bold;
}

#about .about-section {
	width: 230px;
	list-style-type: none;
	margin-top: 13px;
    margin-left: 65px;
    padding: 10px;
}

#about .about-section a {
	color: #1D1D21;	
}

#about .about-education {
	width: 305px;
	list-style-type: none;
	margin-top: 13px;
    margin-left: 25px;
    padding: 10px;
}

#about .about h2 {
	transition: all .3s;
}

#about .about h2:hover, a:hover {
	cursor: n-resize;
	color: #B28B98;
}


/* Skills Section */

#skills {
	height: 890px;
}

#skills .skills-caption {
	margin-top: 45px;
	font-weight: bold;
    text-transform: uppercase;
}

#skills .education {
	margin-top: 40px;
	//cursor: n-resize;
}


.box {
	width: 315px;
	height: 140px;
	position: relative;
	display: inline-block;
	padding: 5px;
    line-height: 25px;
}

.box h2 {
	margin-bottom: 25px;
}

.box span {
	font-weight: bold;
}




/* Other Section */

#portfolio {
	height: 700px;
}




/* Contact Section */

#contact {
	height: 700px;
}
#contact #data {
	border: 1px solid #1D1D21;
	height: 200px;
	width: 400px;
	padding: 20px;
    line-height: 35px;
	border-radius: 5px;
	transition: all .2s;
}


#contact .social-icons {
	display: inline;
	height: 30px;
	font-size: 2em;
	transition: all .3s;	
}

#contact a {
	color: #1D1D21;
	text-decoration: none;
}

#contact .social-icons a:hover {
	cursor: n-resize;
	color: #B28B98;
}

#contact .contact-section {
	padding: 25px;
}

#contact input, #contact textarea {
	text-transform: uppercase;
	padding: 15px;
	border-radius: 5px;
	font-size: 0.7em;
}

#contact input:not(:last-child) {
	margin-bottom: 30px;
}

#contact input[type="submit"] {
	margin-top: 10px;
	background-color: #C8C8C8;
	border: 1px solid #1D1D21;
}

#contact input[type="submit"]:hover {
	cursor: n-resize;
	background-color: #B28B98;
	opacity: 0.7;
}

#contact ::-webkit-input-placeholder,
#contact ::-moz-placeholder,
#contact :-ms-input-placeholder,
#contact :-moz-placeholder {
	color: #777;
}

#contact input:not([type='submit']), #contact textarea {
	width: 100%;
	border: 1px solid;
	background-color: #F5F5F5;
	transition: all .2s;
}

#contact textarea {
	height: 150px;
	resize: none;
}

#contact textarea:hover, input:not([type='submit']):hover, #data:hover {
	background-image: url(../img/seigaiha.png);
	background-size: auto;
}

.contact-section #formular {
	margin-left: 145px;
}

#contact #send {
	margin: 0px 70px;
}


/* Footer */

#main-footer p {
	font-size: 0.7em;
    margin-top: 10px;
}

