body {
	background-color: #213b50;
}

label, p {
	color: #ffffff;
}

input, textarea, select {
	background-color: #2b4a64;
	border: 1px solid #2b4a64;
	display: block;
}

input[type="submit"] {
	background-color: green;
	height: 30px;
	width: 100px;
	font-weight: 700;
}

input:focus, textarea:focus {
	background-color: #4e708c;
	border: 1px solid white;
}

#miasto {
	height: 30px;
	width: 100px;
}

input[name="gender"], input[name="zgoda"] {
	display: inline;
}