@media (max-width: 1310px) {
	#form-section .form-section-right {
		margin-right: 400px;
	}
	
	.header-contact {
		margin-right: 200px;
	}
	
	.phone-footer {
		margin-left: 50px;
		width: 100px;
	}
}

@media (max-width: 910px) {
	#form-section .form-section-right {
		margin-right: 600px;
	}
	
	.header-contact {
		margin-right: 600px;
	}
}

@media (max-width: 710px) {
	#form-section .form-section-right {
		margin-right: 900px;
	}
	
	.header-contact {
		margin-right: 650px;
	}
}