@media (max-width: 1090px) {
	#form-section .form-section-right {
		margin-right: 400px;
	}
	
	.header-contact {
		margin-right: 200px;
	}
	
	.phone-footer {
		width: 150px;
	}
}

@media (max-width: 910px) {
	#form-section .form-section-right {
		margin-right: 400px;
	}
	
	.header-contact {
		margin-right: 400px;
	}
}

@media (max-width: 710px) {
	#form-section .form-section-right {
		margin-right: 700px;
	}
	
	.header-contact {
		margin-right: 650px;
	}
	
}
