figure {
	width: 100%;
}


@media (min-width: 0px) and (max-width: 992px) {
	#background {
		height: 50vh;
		background-image: url(../zadanie-domowe-rwd-materialy/obrazy/man-1.jpg);
	}
}

@media (max-width: 992px) {
	figcaption {
		top: 50%;
		width: 100%;
		text-align: center;
		position: absolute;
	}
}

/*co zrobic, jak dodamy paragraf pod obrazkiem, zeby nam sie napis nagłowkowy nie pokrywal ze wstawionym tekscie paragrafem przy rozdzielczosci 992px

 w kodzie html dodać :
   <header class="header-caption-mobile>
     <h1></h1>
     <h2></h2>
   </header>

w css dodać:

 @media (max-width: 992px) {
	figcaption {
        display: none;
}


*/

@media (min-width: 993px) and (max-width: 1170px) {
	#background {
		width: 100%;
		height: 70vh;
		background-image: url('../zadanie-domowe-rwd-materialy/obrazy/man-2.jpg');
	}
}

@media (min-width: 993px) and (max-width: 1170px) {
	figcaption {
		width: 100%;
		height: 30%;
		position: absolute;
		color: #fff;
		transform: translateY(-50%);
		margin: 0;
		text-transform: uppercase;
		font-weight: bold;
		line-height: 4em;	
		text-align: left;
		left: 59%;
		top: 20%;
	}
}

@media (min-width: 993px) and (max-width: 1170px) {
	.napis-1 {
		font-size: 25px;
	}
}

@media (min-width: 993px) and (max-width: 1170px) {
	.napis-2 {
		font-size: 30px;
	}
}

@media (min-width: 1171px) {
	#background {
		height: 100vh;
		background-image: url(../zadanie-domowe-rwd-materialy/obrazy/man-1.jpg);
	}
}

@media (min-width: 1171px) {
	figcaption {
	position: absolute;
	color: #fff;
	transform: translateY(-50%);
	margin: 0;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 4em;	
	left: 2%;
	top: 50%;
	text-align: left;
    }
} 

@media (min-width: 1171px) {
	.napis-1 {
		font-size: 25.5px;
	}
}
	
@media (min-width: 1170px) {
	.napis-2 {
		font-size: 33px;
	}